body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator--buttons {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
}

#button--1 {
    width: 33%;
}
#button--2 {
    width: 33%;
}
#button--3 {
    width: 33%
}
#button--4 {
    width: 33%
}
#button--5 {
    width: 33%;
}
#button--6 {
    width: 33%
}
#button--6 {
    width: 33%
}
#button--7 {
    width: 33%
}
#button--8 {
    width: 33%;
}
#button--9 {
    width: 33%;
}
#button--0 {
    width: 99%;
    align-self: center;
}

#operators {
    display: flex;
    width: 20%;
    flex-direction: row;
}