body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controller--navbar {
    list-style: none;
    width: 75%;
    display: flex;
}

#current--event {
    font-family: sans-serif;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#calculator--buttons {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
}

#button--0 {
    width: 100%;
    align-self: center;
}

#operators {
    display: flex;
    width: 20%;
    flex-direction: row;
}